[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
opencv-contrib-python = "==4.6.0.66"
mediapipe = "*"
click = "*"
rich = "*"
psutil = "*"
py-cpuinfo = "*"
wsq = "*"
pyinquirer = "*"
ray = "*"
ydata-profiling = "*"
imutils = "*"
urllib3 = "==1.26.14"

[dev-packages]
genbadge = {extras = ["coverage", "tests"], version = "*"}
pytest-html = "*"
coverage = "*"
pytest = "*"

[requires]
python_version = "3.8"
