[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = {version = "*", index = "downloadpytorch"}
mediapipe = "*"
click = "*"
rich = "*"
psutil = "*"
py-cpuinfo = "*"
wsq = "*"
ray = "*"
ydata-profiling = "4.12.2"
imutils = "*"
librosa = "*"
webcolors = "*"

[dev-packages]
pytest = "*"
pytest-html = "*"
coverage = "*"
genbadge = {extras = ["coverage", "tests"], version = "*"}

[requires]
python_version = "3.10"
