[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
mediapipe = "0.10.18"
torch = {version = "*", index = "downloadpytorch"}
click = "*"
rich = "*"
psutil = "*"
py-cpuinfo = "*"
ray = "*"
wordcloud = "1.9.2"
ydata-profiling = "4.9.0"
imutils = "*"
librosa = "*"
webcolors = "*"
# wsq = "*"

[dev-packages]
pytest = "*"
pytest-html = "*"
coverage = "*"
genbadge = {extras = ["coverage", "tests"], version = "*"}

[requires]
python_version = "3.10"
